{% extends 'base.html' %} {% block title %}Directory{% endblock %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/file_mgr/directory.css' %}" />

<script>
  const CURRENT_DIR = '{{ current_dir }}';
  const FILE_PATH = "{% url 'file_mgr:file' 'TEMP' %}";
  const DIRECTORY_PATH = "{% url 'file_mgr:directory' 'TEMP' %}";
</script>

<script src="{% static 'js/file_mgr/file_mgr.js' %}" type="module"></script>

{% endblock %} {% block content %}
<div id="current-dir"></div>

<div>
  {% url 'file_mgr:directory' parent_path as parent_url %}
  <a href="{{ parent_url }}"> Parent Directory </a>
</div>

<div id="contents" class="row"></div>
{% endblock %}
