/*.sqlite3*
/.env
/.idea/
/venv/
/.git/
/nicer_website/static/*
!/nicer_website/static/js
!/nicer_website/static/css
/data/
**/__pycache__
**/*[Tt][Ee][Ss][Tt]*
**/*[Tt][Ee][Mm][Pp]*.*
/node_modules/
config.txt
db_user.json
/exported_spectra/*
