{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static '/css/plot.css' %}">

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.plot.ly/plotly-2.18.2.min.js"></script>
<script id="MathJax-script" src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js"></script>

<script>
    const PLOT_GRAPH_URL = "{% url 'plots:plot_data' %}";
    const PLOT_GTI_URL = "{% url 'plots:plot_gti' %}";
    let quality = "{{ quality }}";
</script>

<script src="{% static '/js/plots/plot.js' %}" type="module"></script>

{% endblock %}

{% block title %}Plot{% endblock %}

{% block content %}
<h1>Interactive Plots</h1>

<form id="plot-graph" method="post">
    {% csrf_token %}
    <div class="row">
        <div class="column">
            <label for="search-type">Search by:</label>
            <select id="search-type" name="search_type" class="dropdown-field">
                <option value="obs_id" selected>Observation ID</option>
                <option value="source">Source Name</option>
            </select>
        </div>

        <div class="column">
            <div class="dropdown" id="obs-id-dropdown">
                <input id="observation-search" class="dropdown-field" name="obs_id" type="text" value="{{ obsID }}" placeholder="Observation ID...">
                <div id="observation-options" class="dropdown-content"></div>
            </div>

            <div class="dropdown" id="source-name-dropdown" style="display: none;">
                <input id="source-search" class="dropdown-field" name="source" type="text" value="{{ sourceName }}" placeholder="Source Name...">
                <div id="source-options" class="dropdown-content"></div>
            </div>
        </div>

        <div class="column">
            <div class="dropdown">
                <input id="quality-select" class="dropdown-field" name="quality" type="text" value="{{ quality }}" placeholder="Quality..." readonly="true">
                <div class="dropdown-content">
                    <button class="change-quality" type="button" name="goddard">Goddard</button>
                    <button class="change-quality" type="button" name="gold">Gold</button>
                    <button class="change-quality" type="button" name="silver">Silver</button>
                    <button class="change-quality" type="button" name="radium">Radium</button>
                    <button class="change-quality" type="button" name="pyrite">Pyrite</button>
                </div>
            </div>
        </div>

        <div id="options" class="column checkboxes">
            <input id="spectrum-check" type="checkbox" name="spectrum" value="spectrum" {% if spectrum %}checked{% endif %}>
            <label for="spectrum-check">Spectrum</label>
            <input id="light-curve-check" type="checkbox" name="light-curve" value="light-curve" {% if lightCurve %}checked{% endif %}>
            <label for="light-curve-check">Light Curve</label>
            <input id="power-spectrum-check" type="checkbox" name="power-density-spectrum" value="power-density-spectrum" {% if powerSpectrum %}checked{% endif %}>
            <label for="power-spectrum-check">Power Density Spectrum</label>
            <input id="hardness-intensity-check" type="checkbox" name="hardness-intensity-diagram" value="hardness-intensity-diagram" {% if hardnessIntensity %}checked{% endif %}>
            <label for="hardness-intensity-check">Hardness Intensity Diagram</label>
        </div>

        <div class="column">
            <button type="submit">Submit</button>
        </div>
    </div>

{#    <button type="button" id="advance-search-btn">Advance Search</button>#}

{#    <div id="advance-search" style="display: none;">#}
{#        <div class="row">#}
            <div class="column">
                <label for="ra">RA:</label>
                <input id="ra" class="dropdown-field" name="ra" type="text" placeholder="Right Ascension...">
            </div>

            <div class="column">
                <label for="dec">DEC:</label>
                <input id="dec" class="dropdown-field" name="dec" type="text" placeholder="Declination...">
            </div>

            <div class="column">
                <label for="tstart_tt">TStart_TT:</label>
                <input id="tstart_tt" class="dropdown-field" name="tstart_tt" type="text" placeholder="Tstart_tt...">
            </div>
          
          <div class="column">
                <label for="tstop_tt">TStop_TT:</label>
                <input id="tstop_tt" class="dropdown-field" name="tstop_tt" type="text" placeholder="Tstop_tt...">
            </div>

          <div class="column">
                  <label for="npm_fpm_on">ovenpm_fpm_onrshoot</label>
                  <input id="npm_fpm_on" class="dropdown-field" name="ovenpm_fpm_onrshoot" type="text" placeholder="ovenpm_fpm_onrshoot...">
              </div>

          <div class="column">
                        <label for="ndets_used">ndets_used</label>
                        <input id="ndets_used" class="dropdown-field" name="ndets_used" type="text" placeholder="ndets_used...">
                    </div>

{#        </div>#}
{#    </div>#}
</form>

<div id="obs-info"></div>

<div id="plots"></div>

<script>
    document.getElementById('search-type').addEventListener('change', function() {
        if (this.value === 'obs_id') {
            document.getElementById('obs-id-dropdown').style.display = 'block';
            document.getElementById('source-name-dropdown').style.display = 'none';
        } else {
            document.getElementById('obs-id-dropdown').style.display = 'none';
            document.getElementById('source-name-dropdown').style.display = 'block';
        }
    });

    document.getElementById('advance-search-btn').addEventListener('click', function() {
        const advanceSearchDiv = document.getElementById('advance-search');
        if (advanceSearchDiv.style.display === 'none' || advanceSearchDiv.style.display === '') {
            advanceSearchDiv.style.display = 'block';
        } else {
            advanceSearchDiv.style.display = 'none';
        }
    });
</script>
{% endblock %}